<footer class="container">
	<div class="site-footer" role="contentinfo">
		<br/>
		<div class="copyright left mobile-block">
			© 2017
			<span title="{{ site.author }}">{{ site.author }}</span>
			<a id="gototop" href="javascript:window.scrollTo(0,0)" class="right mobile-visible">TOP</a>
		</div>
		<br/>
		<ul class="site-footer-links right mobile-hidden">
			<li>
				<a href="javascript:window.scrollTo(0,0)">TOP</a>
			</li>
		</ul>
		<a href="{{ site.github.repository_url }}" target="_blank" aria-label="view source code">
			<span class="mega-octicon octicon-mark-github" title="GitHub"></span>
		</a>
		<ul class="site-footer-links mobile-hidden">
			{% for nav in site.navs %}
			<li>
				<a href="{{ nav.href }}" title="{{ nav.label }}" target="{{ nav.target | default: _self }}">{{ nav.label }}</a>
			</li>
			{% endfor %}
			<li><a href="{{ site.subscribe_rss }}"><span class="octicon octicon-rss" style="color:orange;"></span></a>
			</li>
			<div class="busuanzi-count">
				<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
				<span class="site-uv" title="unique users visited&nbsp;总点击人数">
					<img src="/assets/vendor/octicons/svg/person.svg" width="10" height="16">
			<span class="busuanzi-value" id="busuanzi_value_site_uv"></span></span>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<span class="site-pv" title="total visited&nbsp;总点击量">
					<img src="/assets/vendor/octicons/svg/eye.svg" width="16" height="16">
			<span class="busuanzi-value" id="busuanzi_value_site_pv"></span></span>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<span class="page-pv" title="single page visited&nbsp;本页面点击人数">
					<img src="/assets/vendor/octicons/svg/file-text.svg" width="12" height="16">
			<span class="busuanzi-value" id="busuanzi_value_page_pv"></span></span>
			</div>

		</ul>
	</div>
	<!-- / footer -->
	<script src="/assets/js/geopattern.js"></script>
	<script src="/assets/js/prism.js"></script>
	<link rel="stylesheet" href="/assets/css/globals/prism.css">
</footer>
</body>
</html>
