{% if site.url contains 'parsercombinator.coding.me' %}

<script src='http://ue.ueadlian.com/code/duilian.php?u=117383'></script>
<iframe height='135' width='960' frameborder='no' scrolling='no' src='http://ue.ueadlian.com/code/zb_ad.php?&size=1&b=07D600&k=18ED00&zi=22C900&u=117383'></iframe>
<iframe height='300' width='980' frameborder='no' scrolling='no' src='http://ue.ueadlian.com/code/Ncode20161123.php?&size=1&b=4&zi=00CC22&u=117383'></iframe>
<iframe height='90' width='760' frameborder='no' scrolling='no' src= 'http://ue.ueadlian.com/code/color_caik.php?&size=4&pp=4&c1=00EF10&c2=B6FB5D&c3=29BA8A&c4=538F40&u=117383'></iframe>

<script id="138wap_ad" src='http://wap.138lm.com/code/mobile/wap_cpc.php?uw=0&u=117383'></script>

{% endif %}
