---
layout: default
---
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
	<div class="container">
		<div class="columns">
			<div class="column three-fourths">
				<div class="collection-title">
					<h1 class="collection-header">{{ page.title }}</h1>
					<div class="collection-info">
						{% if page.date %}
						<span class="meta-info">
            <span class="octicon octicon-calendar"></span> {{ page.date | date: "%Y/%m/%d" }}
          </span>
						{% endif %}
						{% for cat in page.categories %}
						<span class="meta-info">
            <span class="octicon octicon-file-directory"></span>
            <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>
          </span>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- / .banner -->
<section class="container content">
	<div class="columns">
		<div class="column three-fourths">
			<article class="article-content markdown-body">
				{{ content }}
				{% include article-footer.html %}
			</article>
			<div class="comment">
				{% include comments.html %}
				{% include article-footer.html %}
			</div>
			<div class="cc-license">
				{% include cc-license.html %}
			</div>
			<div class="share">
				{% include sns-share.html %}
			</div>
		</div>
		<div class="column one-fourth">
			{% include sidebar-search.html %}
			{% include sidebar-post-nav.html %}
		</div>
	</div>
</section>
<!-- /section.content -->
<center style="font-size: 0.9em;">
	<br/>
	<br/>
	如果觉得这篇文章给您带来了收获或者说它值得您这么做，您可以选择对我进行捐助。<br/>
	下面是微信支付哟<br/>
	<img width="200" height="200" src="https://coding.net/u/ice1000/p/Images/git/raw/master/blog-img/zss_sgj.jpg"/>
	<!-- /donation -->
</center>
